* {
	padding: 0;
	margin: 0;
}

body {
	margin: 0 auto;
	width: 90vw;
}

figure {
	width: 10vw;
	height: 10vw;
	background-color: orange;
	float:left;
	margin: 5vw;
	border: 1vw solid rgba(256, 256, 256, 0.8);
	box-shadow: 1vw 1vw 1vw rgba(0,0,0, 0.8);
	border-radius: 50%;
	transition: 0.2s;
	background-size: cover;
	background-position: center;
}

figure:hover {
	transform: translateY(-0.5vw);
}

#one {
	background-image: url("../images/light-box/ramen-one.png");
}
#two {
	background-image: url("../images/light-box/ramen-two.png");
}
#three {
	background-image: url("../images/light-box/ramen-three.png");
}
#four {
	background-image: url("../images/light-box/ramen-four.png");
}
#five {
	background-image: url("../images/light-box/ramen-five.png");
}
#six {
	background-image: url("../images/light-box/ramen-six.png");
}
#seven {
	background-image: url("../images/light-box/ramen-seven.png");
}
#eight {
	background-image: url("../images/light-box/ramen-eight.png");
}
#nine {
	background-image: url("../images/light-box/ramen-nine.png");
}