* {
	background-color: lightblue;
	font-size: 24pt;
	font-family: "Helvetica";
}

body {
	padding: 5vw;
}

p {
	background-color: white;
	display: inline-block;
	border: 5px solid pink;
	padding: 0.5vw;
	color: #654321;
	transition: transform 0.3s;
		-moz-transition: transform 0.3s;
		-webkit-transition: transform 0.3s;
		-ms-transition: transform 0.3s;
		-o-transition: transform 0.3s;
	margin: 1vw;
}
hr {
	border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0.75), rgba(256, 256, 256, 0));
}

/* rotations */

p:first-child:hover {
	transform: rotate(90deg);
}
p:nth-child(2):hover {
	transform: rotate(45deg);
}
p:nth-child(3):hover {
	transform: rotate(360deg);
}
p:nth-child(4):hover {
	transform: rotate(-90deg);
}
p:hover {
	transform: none;
}

/* scale */

.scale-two:hover {
	transform: scale(2);
}
.scale-neg-two:hover {
	transform: scale(-2);
}
.scale-four:hover {
	transform: scale(4);
}
.scale-one:hover {
	transform: scale(1);
}

/* skew */

.skew-thirty:hover {
	transform: skew(30deg);
}
.skew-fifteen:hover {
	transform: skewY(15deg);
}
.skew-forty-five:hover {
	transform: skewX(45deg);
}
.skew-five:hover {
	transform: skew(5deg);
}

/* translates */

.translate-x-two:hover {
	transform: translateX(2vw);
}
.translate-y-two:hover {
	transform: translateY(2vw);
}
.translate-x-neg-two:hover {
	transform: translateX(-2vw);
}
.translate-y-neg-two:hover {
	transform: translateY(-2vw);
}