html, body {
	width: 100%;
	height: 100%;
}
@font-face {
	font-family: Longalberica;
	src: url('../fonts/Longalberica-DEMO.ttf');
}
@font-face {
	font-family: Olivia;
	src: url('../fonts/Olivia-Regular.otf');
}
@font-face {
	font-family: Luna;
	src: url('../fonts/Luna.ttf');
}
@font-face {
	font-family: 'Wild Ones';
	src: url('../fonts/Wild-Ones-Personal-Use.ttf');
}
h1 {
	font-family: Longalberica, Arial, sans-serif;
}
h2 {
	font-family: Olivia, Times New Roman, sans-serif;
}
h3 {
	font-family: Luna, Arial, sans-serif;
}
h4 {
	font-family: 'Wild Ones', Times New Roman, sans-serif;
}
section {
	background-color: red;
	width: 10vh;
	height: 10vh;
	margin: 5px;
	float: none;
}
.red {
	background-color: red;
}
.orange {
	background-color: orange;
}
.green {
	background-color: green;
}
.blue {
	background-color: blue;
}
.pink {
	background-color: pink;
}
.orange-red {
	background-color: orangered;
}
.yellow {
	background-color: yellow;
}
.violet {
	background-color: violet;
}
.indigo {
	background-color: indigo;
}
#relative {
	position: relative;
	top: 10vw;
	left: 10vw;
}
#absolute {
	position: absolute;
	z-index: -1;
}
#fixed {
	position: fixed;
	top: 50vh;
	left: 50vh;
}