* {
    margin: 0;
    padding: 0;
}
@keyframes slideRightOne {
    0%, 100% {transform: translateX(0) ;}
    10%, 90% {transform: translateX(95%);}
}
@keyframes slideRightTwo {
    0%, 90%, 100% {transform: translateX(0) ;}
    10%, 80% {transform: translateX(95%);}
}
@keyframes slideRightThree {
    0%, 80%, 100% {transform: translateX(0) ;}
    10%, 70% {transform: translateX(95%);}
}
@keyframes ballDrop {
    0%, 100% {transform: translateY(0);}
    18% {transform: translateY(200%);}
}
.drop {
    animation: ballDrop 5s;
}
.slide-one {
    animation: slideRightOne 4.2s;
}
.slide-two {
    animation: slideRightTwo 4.2s 0.2s;
}
.slide-three {
    animation: slideRightThree 4.2s 0.4s;
}
figure {
    width: 55.4vh;
    height: 64.7vh;
    margin: 17.7vh auto 0 auto;
    background-color: #D9D9CD;
}
div.clear {
    clear: both;
}
section {
    height: 48.1%;
    float: left;
}
section.left {
    margin-left: 8%;
    width: 42.5%;
}
section.right {
    width: 49.5%;
}
section.top {
    margin-top: 4.5%;
}
article {
    background-color: #1F1F1F;
    transition: 0.8s;
}
article:hover {
    background-color: white;
    transition: 0s;
}
article#circle {
    width: 64.55%;
    height: 49.2%;
    position: relative;
    left: -3%;
    top: 8.8%;
    border-radius: 50%;
    cursor: pointer;
}
section.right-top article:first-child {
    margin-top: 0;
}
section.right-top article {
    margin-top: 8.4%;
    width: 100%;
    height: 18.5%;
}
section.left-bottom article {
    margin: -5% 0 14.6% 0.5%;
    width: 100%;
    height: 18.7%;
}
section.right-bottom article:first-child {
    margin-top: 17%;
}
section.right-bottom article {
    margin-top: 21.11%;
    width: 49.2%;
    height: 7.3%;
}